<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>상품 등록</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <%- include('menu.html') %>

    <div class="container">
        <div id="wrapper">
            <div class="section">
                <h1><center>회원</center></h1>
                <table>
                    <thead>
                        <tr>
                            <th>아이디</th>
                            <th>비밀번호</th>
                            <th>이름</th>
                            <th>닉네임</th>
                            <th>생일</th>
                            <th>전화번호</th>
                            <th>메일</th>
                            <th>주소</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(let i = 0; i < data.length; i++){ %>
                            <tr>         
                              <td><%= data[i].아이디 %></a></td>
                              <td><%= data[i].비밀번호 %></td>
                              <td><%= data[i].이름 %></a></td>
                              <td><%= data[i].닉네임 %></td>
                              <td><%= data[i].생일 %></a></td>
                              <td><%= data[i].전화번호 %></td>
                              <td><%= data[i].메일 %></a></td>
                              <td><%= data[i].주소 %></td>
                            </tr>
                        <% } %>
                                      </tbody>
                
                </table>
            </div>
        </div>
    </div>

        <%- include('footer.html') %>
</body>
</html>
    