<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>상품 등록</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <%- include('menu.html') %>

    <div class="container">
        <div id="wrapper">
            <div class="section">
                <h1><center>주문</center></h1>
                <table>
                    <thead>
                        <tr>
                            <th>주문번호</th>
                            <th>주문수량</th>
                            <th>배송지</th>
                            <th>주문일자</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(let i = 0; i < data.length; i++){ %>
                            <tr>         
                                <td><%= data[i].주문번호 %></a></td>
                                <td><%= data[i].주문수량 %></td>
                                <td><%= data[i].배송지 %></a></td>
                                <td><%= data[i].주문일자 %></td>
                            </tr>
                        <% } %>
                    </tbody>
                
                </table>
            </div>
        </div>
    </div>

        <%- include('footer.html') %>
</body>
</html>
    