<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>상품 등록</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <%- include('menu.html') %>

    <div class="container">
        <div id="wrapper">
            <div class="section">
                <h1><center>스토어</center></h1>
                <table>
                    <thead>
                        <tr>
                            <th>상호명</th>
                            <th>스토어번호</th>
                            <th>판매자주소</th>
                            <th>판매자</th>
                            <th>판매자메일</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% for(let i = 0; i < data.length; i++){ %>
                            <tr>         
                              <td><%= data[i].상호명 %></a></td>
                              <td><%= data[i].스토어번호 %></td>
                              <td><%= data[i].판매자주소 %></a></td>
                              <td><%= data[i].판매자 %></td>
                              <td><%= data[i].판매자메일 %></a></td>
                            </tr>
                        <% } %>
                      </tbody>
                </table>
            </div>
        </div>
    </div>

        <%- include('footer.html') %>
</body>
</html>
    